services:
  registry:
    image: registry:latest
    user: root
    container_name: registry
    restart: unless-stopped
    ports:
      - "${REGISTRY_PORT:-5000}:5000"
    environment:
      REGISTRY_HTTP_ADDR: "0.0.0.0:${REGISTRY_PORT:-5000}"
    volumes:
      - ${REGISTRY_DATA_DIR}:/var/lib/registry

  registry-ui:
    image: joxit/docker-registry-ui:latest
    container_name: registry-ui
    restart: unless-stopped
    ports:
      - "${REGISTRY_UI_PORT:-8080}:80"
    environment:
      - NGINX_PROXY_PASS_URL=http://registry:5000
      - DELETE_IMAGES=${DELETE_IMAGES:-true}
      - SINGLE_REGISTRY=${SINGLE_REGISTRY:-true}
    depends_on:
      - registry

